# actually not even necessary anymore, since it will not be symlinked to /etc/nixos
configuration.nix
hardware-configuration.nix

# after nixos-rebuild build, a 'result' link is created
result
launcher

.netrwhist

# templated dotconfig/fish
dotconfig/fish/config.fish

# generated fish details
dotconfig/fish/functions/
dotconfig/fish/completions/
dotconfig/fish/conf.d/
dotconfig/fish/fishfile
