# actually not even necessary anymore, since it will not be symlinked to /etc/nixos
configuration.nix
hardware-configuration.nix

# after nixos-rebuild build, a 'result' link is created
result
launcher

.netrwhist

# symlinking dotconfig/fish
config.fish
