---

- name: Create config/i3 directory
  file:
    path: ~/.config/i3
    state: directory
  when: ansible_system == 'Linux'

- name: Template on_startup.sh
  template:
    src: templates/on_startup.j2
    dest: ~/on_startup.sh
    mode: 0500 # u=rx
  notify: "restart i3"
  when: ansible_system == 'Linux'

- name: Template i3 config
  template:
    src: templates/i3config.j2
    dest: ~/.config/i3/config
  notify: "restart i3"
  when: ansible_system == 'Linux'

- name: Create config/i3status directory
  file:
    path: ~/.config/i3status
    state: directory
  when: ansible_system == 'Linux'

- name: Template i3status config
  template:
    src: templates/i3statusconfig.j2
    dest: ~/.config/i3status/config.toml
  notify: "restart i3"
  when: ansible_system == 'Linux'

- name: Check if kitty config is a directory (not symlink)
  stat:
    path: ~/.config/kitty
  register: kitty_config_stat

- name: Remove existing kitty config directory (requires confirm_overwrite=true)
  file:
    path: ~/.config/kitty
    state: absent
  when:
    - kitty_config_stat.stat.exists
    - kitty_config_stat.stat.isdir
    - not kitty_config_stat.stat.islnk
    - confirm_overwrite | default(false) | bool
    - not ansible_check_mode

- name: Link kitty config
  file:
    src: "~/{{ configs_repo }}/{{ dotconfigdir }}/kitty"
    dest: ~/.config/kitty
    state: link
  when: repo is succeeded and terminal == "kitty"

# Background picture
- name: Create folder for background picture
  file:
    path: ~/Pictures/Space
    state: directory

- name: Copy initial background picture
  copy:
    src: "~/{{ configs_repo }}/pictures/IMAG7297.JPG"
    dest: "~/Pictures/Space/IMAG7297.JPG"

    # - name: Make sure to start redshift on startup

# gtd todo files
- name: Create todo.sh config dir
  file:
    path: ~/.config/todo
    state: directory

- name: Template todo.sh config
  template:
    src: templates/todoconfig.j2
    dest: ~/.config/todo/config

- name: Create empty todo.sh actions file
  copy:
    content: ""
    dest: ~/.config/todo/actions
    force: no

- name: Make sure gtd repository is present
  git:
    repo: "git@github.com:{{ git_username }}/{{ todotxtrepo }}.git"
    dest: "~/{{ todotxtrepo }}"
    update: yes
  when: ssh is succeeded
  ignore_errors: True

# finances repository
- name: Make sure finances repository is present
  git:
    repo: "git@github.com:{{ git_username }}/{{ finances_repo }}.git"
    dest: "~/{{ finances_repo }}"
    update: yes
  when: ssh is succeeded
  ignore_errors: True

# Get Fontin font
- name: Create fonts directory
  file:
    path: ~/.local/share/fonts
    state: directory

- name: Unarchive Fontin font
  ansible.builtin.unarchive:
    # src: ~/Downloads/fontin.zip
    src: https://wfonts.com/download/data/2015/03/10/fontin/fontin.zip
    dest: ~/.local/share/fonts
    remote_src: yes

- name: Duplicate Regular Fontin File
  copy:
    src: ~/.local/share/fonts/Fontin-Regular.otf
    dest: ~/.local/share/fonts/Fontin.otf
    mode: 0644

# - name: link alacritty config
#   file:
#     src: "~/{{ configs_repo }}/{{ dotconfigdir }}/alacritty"
#     dest: ~/.config/alacritty
#     state: link
#   when: repo is succeeded

