---
## basically this is the 'base' profile installation of anything I will have.

# assumption: there is an ssh key for github registered for my account present.
# after all, I want my full environment there.
- name: Check if .ssh present
  stat:
    path: ~/.ssh/id_rsa.pub
  register: ssh

- name: Make sure ~/configs/ is present
  git:
    repo: "git@github.com:{{ git_username }}/{{ configs_repo }}.git"
    dest: "~/{{ configs_repo }}"
    accept_hostkey: true
    update: no
  register: repo
  when: ssh is succeeded

- name: Make sure ~/configs/ is present
  git:
    repo: "https://github.com/{{ git_username }}/{{ configs_repo }}.git"
    dest: "~/{{ configs_repo }}"
    accept_hostkey: true
    update: no
  register: repo
  when: ssh is not succeeded

- name: Update ~/configs/ repository
  git:
    repo: "git@github.com:{{ git_username }}/{{ configs_repo }}.git"
    dest: "~/{{ configs_repo }}"
  when: repo is succeeded
  ignore_errors: true

# git config
- name: Template .gitconfig
  template:
    src: templates/gitconfig.j2
    dest: ~/.gitconfig


# fish config
- name: Check if fish config is a directory (not symlink)
  stat:
    path: ~/.config/fish
  register: fish_config_stat

- name: Remove existing fish config directory (requires confirm_overwrite=true)
  file:
    path: ~/.config/fish
    state: absent
  when:
    - fish_config_stat.stat.exists
    - fish_config_stat.stat.isdir
    - not fish_config_stat.stat.islnk
    - confirm_overwrite | default(false) | bool
    - not ansible_check_mode

- name: Link config/fish directory
  file:
    src: "~/{{ configs_repo }}/{{ dotconfigdir }}/fish"
    dest: ~/.config/fish
    state: link
  when: not (fish_config_stat.stat.exists and fish_config_stat.stat.isdir and not fish_config_stat.stat.islnk and not (confirm_overwrite | default(false) | bool))

- name: Template fish config
  template:
    src: templates/fishconfig.j2
    dest: ~/.config/fish/config.fish
  notify: "install br"


# vim files
- name: Create nvim plugin directory
  file:
    path: ~/.config/nvimplugins
    state: directory

- name: Check if nvim config is a directory (not symlink)
  stat:
    path: ~/.config/nvim
  register: nvim_config_stat

- name: Remove existing nvim config directory (requires confirm_overwrite=true)
  file:
    path: ~/.config/nvim
    state: absent
  when:
    - nvim_config_stat.stat.exists
    - nvim_config_stat.stat.isdir
    - not nvim_config_stat.stat.islnk
    - confirm_overwrite | default(false) | bool
    - not ansible_check_mode

- name: Link nvim directory
  file:
    src: "~/{{ configs_repo }}/{{ dotconfigdir }}/nvim"
    dest: ~/.config/nvim
    state: link
  when:
    - repo is succeeded
    - not (nvim_config_stat.stat.exists and nvim_config_stat.stat.isdir and not nvim_config_stat.stat.islnk and not (confirm_overwrite | default(false) | bool))

- name: Check if vim config is a directory (not symlink)
  stat:
    path: ~/.config/vim
  register: vim_config_stat

- name: Remove existing vim config directory (requires confirm_overwrite=true)
  file:
    path: ~/.config/vim
    state: absent
  when:
    - vim_config_stat.stat.exists
    - vim_config_stat.stat.isdir
    - not vim_config_stat.stat.islnk
    - confirm_overwrite | default(false) | bool
    - not ansible_check_mode

- name: Link vim directory
  file:
    src: "~/{{ configs_repo }}/{{ dotconfigdir }}/nvim"
    dest: ~/.config/vim
    state: link
  when:
    - repo is succeeded
    - not (vim_config_stat.stat.exists and vim_config_stat.stat.isdir and not vim_config_stat.stat.islnk and not (confirm_overwrite | default(false) | bool))


# set up 'b'
- name: Check if broot config is a directory (not symlink)
  stat:
    path: ~/.config/broot
  register: broot_config_stat

- name: Remove existing broot config directory (requires confirm_overwrite=true)
  file:
    path: ~/.config/broot
    state: absent
  when:
    - broot_config_stat.stat.exists
    - broot_config_stat.stat.isdir
    - not broot_config_stat.stat.islnk
    - confirm_overwrite | default(false) | bool
    - not ansible_check_mode

- name: Link broot directory
  file:
    src: "~/{{ configs_repo }}/{{ dotconfigdir }}/broot"
    dest: ~/.config/broot
    state: link
  when:
    - repo is succeeded
    - not (broot_config_stat.stat.exists and broot_config_stat.stat.isdir and not broot_config_stat.stat.islnk and not (confirm_overwrite | default(false) | bool))
  notify: "install br"

- name: Create .local/bin
  file:
    path: ~/.local/bin
    state: directory

- name: Link b
  file:
    src: "~/{{ configs_repo }}/scripts/b.sh"
    dest: ~/.local/bin/b
    state: link
  when: repo is succeeded
  notify: "install br"

- name: Make sure text_stuff is present
  git:
    repo: "git@github.com:{{ git_username }}/text_zeug.git"
    dest: ~/text_zeug
    update: no
  when: ssh is succeeded
