; {{ ansible_managed }}
[user]
    email = {{ git_email }}
    name = {{ git_name }}
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[rebase]
; see http://stackoverflow.com/a/30209750: git 2.6+ for git pull --rebase
    autoStash = true
[core]
    editor = {{ git_editor }}
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
[blame]
    ignoreRevsFile = .git-blame-ignore-revs

