# i3status-rs configuration settings.
# {{ ansible_managed }}

theme = "plain"
icons = "awesome"

# [[block]]
# block = "disk_space"
# path = "/"
# alias = "/"
# info_type = "available"
# unit = "GB"
# interval = 200
# warning = 10.0
# alert = 5.0


# Show Entropia club status
[[block]]
block = "custom"
command = "/home/{{ username }}/{{ configs_repo }}/scripts/status.sh"
interval = 1800



# Show battery state of wireless mouse and keyboard (or other devices, really)
[[block]]
block = "custom"
command = "/home/{{ username }}/{{ configs_repo }}/scripts/wireless_battery.sh"
interval = 1800


# showing the current state of an external display (and switch, if necessary)
[[block]]
block = "custom"
command = "/home/{{ username }}/{{ configs_repo }}/scripts/multiscreens.sh"
interval = 10

[[block]]
block = "memory"
display_type = "memory"
clickable = false
format_mem = "{Mupi}% ({Mug}GB)"
# format_mem = "{MFm}MB/{MTm}MB({Mp}%)"
warning_mem = 60.0
critical_mem = 80.0

[[block]]
block = "net"
device = "{{ lan }}"
speed_up = false
speed_down = false

{% if wifi is defined %}
[[block]]
block = "net"
device = "{{ wifi }}"
speed_up = false
speed_down = false
ssid = true
{% endif %}

{% if wifi2 is defined %}
[[block]]
block = "net"
device = "{{ wifi2 }}"
speed_up = false
speed_down = false
ssid = true
{% endif %}

{% if gpu is defined %}
[[block]]
block = "nvidia_gpu"
label = "{{ gpu }}"
show_memory = false
show_clocks = true
interval = 5
{% endif %}

[[block]]
block = "cpu"
format = "{barchart} {utilization}% {frequency}GHz"
interval = 5

[[block]]
block = "temperature"
collapsed = true
interval = 10
format = "{min}° min, {max}° max, {average}° avg"
chip = "*-isa-*"

[[block]]
block = "load"
interval = 5
format = "{1m} {5m} {15m}"

{% if battery is defined and battery %}
[[block]]
block = "battery"
# driver = "sysfs"
interval = 5
format = "{percentage}% {time}h {power}W"
{% endif %}

[[block]]
block = "pomodoro"
length = 25
break_length = 5
message = "Take a break!"
break_message = "Back to work!"
use_nag = true
nag_path = "i3-nagbar"

[[block]]
block = "time"
interval = 5
format = "%Y-%m-%d %R:%S"

[[block]]
block = "sound"
on_click = "pactl set-sink-mute {{ pactl_sink_name }} toggle"
