<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>eu.kolai.brew-cleanup</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ brew_bin | default('/opt/homebrew/bin/brew') }}</string>
		<string>cleanup</string>
		<string>--prune=all</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>StandardOutPath</key>
	<string>/tmp/brew-cleanup.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/brew-cleanup.log</string>
</dict>
</plist>
